In [1]:
import pyspark
import pyspark.sql
from pyspark.sql import *
from pyspark.sql.functions import *

import os
import sys
import pandas as pd
from pyspark import SparkContext, SparkConf
os.environ['PYSPARK_PYTHON'] = '/home/arthy/anaconda3/bin/python3.7'

conf = pyspark.SparkConf().setMaster("local[*]").setAll([
                                   ('spark.executor.memory', '12g'),  # find
                                   ('spark.driver.memory','4g'), # your
                                   ('spark.driver.maxResultSize', '2G') # setup
                                  ])
# create the session
spark = SparkSession.builder.config(conf=conf).getOrCreate()

# create the context
sc = spark.sparkContext
# FIX for Spark 2.x
locale = sc._jvm.java.util.Locale
locale.setDefault(locale.forLanguageTag("en-US"))

In [8]:
llist = lines.collect()

In [60]:
all_data = spark.read.format("csv").option("header", "true").load("data/grams/*.csv")

In [61]:
all_data = all_data.withColumn('filename', input_file_name())

In [63]:
def truncateFilename1(s):
    return s[58:67]

def truncateFilename2(s):
    return s[0:10]

In [64]:
all_data = all_data.withColumn('filename', truncateFilename1(all_data['filename']))
all_data = all_data.withColumn('filename', truncateFilename2(all_data['filename']))

all_data.head()

Row(hash='1-M5DKMWK6aB', market_name='Agora', item_link='http://agorahooawayyfoe.onion/p/M5DKMWK6aB', vendor_name='"', price=None, name=None, description=None, image_link=None, add_time=None, ship_from=None, _c10=None, filename='2015-06-17')

In [5]:
df = pd.read_csv('saved_gen_df/agora_grams_df.csv')

In [6]:
df = df.drop(columns=['Unnamed: 0'])

In [7]:
df = df.dropna()

In [105]:
res  = all_data_df.filter(all_data_df.name == "80mg MDMA CAPSULES X 15").collect()

In [116]:
prod1_df = pd.DataFrame(res)

In [ ]:
temp = df[['name', 'price', 'ship_from']]

In [75]:
country_df = df[df['filename'] == '2015-06-17']

In [22]:
ok = df[['filename','ship_from', 'price']].groupby(by=['filename','ship_from']).describe()
ok

                      price                                                    \
                      count      mean       std       min       25%       50%
filename   ship_from
2014-06-09 Argentina   18.0  0.000000  0.000000  0.000000  0.000000  0.000000
           Australia  592.0  0.000000  0.000000  0.000000  0.000000  0.000000
           Austria     11.0  0.000000  0.000000  0.000000  0.000000  0.000000
           Belgium     66.0  0.000000  0.000000  0.000000  0.000000  0.000000
           Brazil       2.0  0.000000  0.000000  0.000000  0.000000  0.000000
...                     ...       ...       ...       ...       ...       ...
2015-07-12 bluerave   137.0  0.012810  0.018290  0.003000  0.003000  0.003000
           uk           4.0  0.297367  0.227642  0.076165  0.188808  0.249186
           usa          2.0  0.282305  0.000000  0.282305  0.282305  0.282305
           world        1.0  0.090443       NaN  0.090443  0.090443  0.090443
           worldwide    3.0  0.034995  0.002155  0.033736  0.033751  0.033766


                           75%       max
filename   ship_from
2014-06-09 Argentina  0.000000  0.000000
           Australia  0.000000  0.000000
           Austria    0.000000  0.000000
           Belgium    0.000000  0.000000
           Brazil     0.000000  0.000000
...                        ...       ...
2015-07-12 bluerave   0.015000  0.150000
           uk         0.357745  0.614932
           usa        0.282305  0.282305
           world      0.090443  0.090443
           worldwide  0.035625  0.037484

[14519 rows x 8 columns]

In [25]:
ok.to_csv('ok')

In [82]:
df['ship_from'].unique()

array(['Australia', 'Canada', 'China', 'France', 'Sweden', 'UK', 'USA',
       'Germany', 'usa', 'South Africa', 'Belgium', 'Netherlands', 'EU',
       'Internet', 'World', 'Torland', 'Mexico', 'Poland',
       'Czech Republic', 'Spain', 'Hong Kong', 'bluerave', 'Greece',
       'Turkey', 'Croatia', 'Denmark', 'Lithuania', 'Estonia', 'Romania',
       'Switzerland', 'Norway', 'Bulgaria', 'Belize', 'Cayman Islands',
       'Saint Vincent and the Grenadines', 'Ireland', 'India',
       'UK, Philippines', 'Austria', 'New Zealand', 'Belarus', 'Panama',
       'Agora', 'Seychelles', 'Russian Federation', 'China or EU',
       'Italy', 'worldwide', 'USA, UK', 'Singapore',
       'UK, USA, Philippines', 'Pakistan', 'USA,UK and Philippines',
       'Fiji', 'Maldives', 'Malaysia', 'Japan', 'Undeclared;)',
       'The Home of the Body Bags, shotty, and Mac make-up',
       'The United Snakes of Captivity', 'world', 'Ukraine', 'Swaziland',
       'Philippines', 'Wallis and Futuna', 'Worldwide', 'Argentina',
       'Slovakia', 'uk', 'United Kingdom', 'Untied Kingdom', 'Latvia',
       'u', 'Thailand', 'Asia', 'UK , Asia', 'UK, Asia',
       'UK, USA, EU, AUS', 'Finland', 'Jamaica', 'Brazil', 'Cambodia',
       'Europe', 'WORLDWIDE', 'The United Snakes of  Captivity',
       'Dominican Republic', 'Latin america/ no colombia', 'Bahamas',
       'Hungary', 'torland', 'Albania', 'UK and Ireland',
       'UK and IRELAND', 'undeclared',
       'The Home of the Body Bags, shotty, and mag', 'Undeclared',
       'world wide', 'World Wide', 'Bangkok', 'Sri Lanka', 'my pm',
       'Christmas Island', 'UK, USA & Worldwide', 'American Samoa',
       'Peru', 'Barbados', 'Uk, USA & Worldwide', 'Scandinavia',
       'Moldova, Republic of', 'USA , UK and Worldwide',
       'UK , USA and Worldwide',
       'The home of the Body Bags, shotty, and mag', 'Colombia', 'Me',
       'Guatemala', 'Aruba', 'Netherlands Antilles', 'Andorra', 'Chile',
       'USA , UK & EU', 'USA, Uk & EU', 'Usa & UK', 'Morocco',
       'UK, USA & Asia', 'USA and UK', 'Candyland', 'GERMANY',
       'US & CANADA', 'Venezuela'], dtype=object)

In [ ]:
UK, USA, usa, EU, UK, world, Worldwide, uk, world wide, GERMANY,

In [66]:
temp.groupby(by=['name']).describe()

KeyboardInterrupt:

In [93]:
all_data_df = spark.read.format("csv").option("header", "true").load("agora_grams_df.csv")

In [50]:
fig = df[df['vendor_name'] == '~sweetpuff~'].groupby(by=['vendor_name', 'name']).describe()

In [35]:
fig = fig.drop(columns=[('add_time',  'mean'),
            ('add_time',   'std')])

In [52]:
df.to_csv('forumDF_2.csv', index=None)

In [56]:
temp

,vendor_name,name,price
30,Australia,0.5 Grams High Quality MDMA FREE EXPRESS DELIVERY,0.566156
31,Australia,80mg MDMA CAPSULES X 15,1.480400
32,Australia,1 Gram High Quality MDMA FREE EXPRESS DELIVERY,1.048438
33,Australia,80mg MDMA CAPSULES X 20,1.959967
34,Australia,80mg MDMA CAPSULES,0.095913
...,...,...,...
4655904,zable,500g MDMA 84 pure,12.005026
4655905,zable,5g MDMA 84 pure,0.237723
4655906,zable,250g MDMA 84 pure,6.146845
4655907,zable,50 Grenades 200mg,0.577328
4655908,zunidog,1 Ounce Fine Gold Counterfeit Bar,0.591716

In [48]:
def toDT(d):
    return pd.to_datetime(d, unit='s')

In [49]:
df['add_time'] = df['add_time'].apply(toDT)

/home/arthy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.