In [75]:
from bs4 import BeautifulSoup as bs
import os
import pandas as pd
import numpy as np
from collections import Counter
import matplotlib.pyplot as plt
import glob
import seaborn as sns
import datetime as dt

In [123]:
vendorsDF = pd.read_csv('./../data/vendorsCSVs/allVendors.csv')

In [69]:
def cleanLastSeenRegistered(s):
    s = str(s)
    if ('Registered' in s):
        return s.split('  ')[-1]
    else:
        return s

In [70]:
vendorsDF['lastSeen'] = vendorsDF['lastSeen'].apply(cleanLastSeenRegistered)

In [79]:
vendorsDF['parsingDate']  = vendorsDF['parsingDate'].apply((lambda x: dt.datetime.strptime(x, '%Y-%m-%d').date()))

In [83]:
vendorsDF = vendorsDF.drop('Unnamed: 0', axis=1)

In [122]:
vendorsDF.lastSeen = vendorsDF.lastSeen.apply((lambda x:cleanLastSeen(x)))

ValueError: time data '1 days 12 hours' does not match format '$d days %H hours'

In [108]:
vendorsDF

,name,rating,lastSeen,publicKey,#products,#Deals,parsingDate
0,littlegoblin,4.92,4 hours,NaN,14.0,150~200,2014-09-20
1,Rebel_Alliance,4.99,1 hours,NaN,7.0,300~500,2014-09-20
2,ThePartyDepot,5.00,16 hours,NaN,3.0,70~100,2014-09-20
3,cossacks,4.99,5 hours,NaN,7.0,300~500,2014-09-20
4,checkpoint,4.84,1 days 0 hours,NaN,31.0,55~70,2014-09-20
...,...,...,...,...,...,...,...
80363,BabyBando,5.00,3 hours,NaN,6.0,10~15,2014-10-14
80364,daydreamer33,4.94,1 days 0 hours,NaN,6.0,200~300,2014-10-14
80365,Leckermann,5.00,5 months 24 days,NaN,8.0,3~5,2014-10-14
80366,EasyRiders,NaN,20 days,NaN,5.0,0,2014-10-14
80367,INSTAGRAMS-UK,4.55,4 days,NaN,7.0,10~15,2014-10-14

In [121]:
def cleanLastSeen(s):

    if ( 'days 0 hours' in s):
        t = dt.datetime.strptime(s,"%d days 0 hours")
        return dt.timedelta(days=t.day)
    elif ( 'months 0 days' in s):
        t = dt.datetime.strptime(s,"%m months 0 days")
        return dt.timedelta(days=30*t.month,hours=0)
    elif ( 'days' in s and 'hours' in s):
        t = dt.datetime.strptime(s,"$d days %H hours")
        return dt.timedelta(days=t.day,hours=t.hour)
    elif ( 'months' in s and 'days' in s):
        t = dt.datetime.strptime(s,"%m months %d days")
        return dt.timedelta(days=t.day+30*t.month,hours=0)
    elif ( 'hours' in s):
        t = dt.datetime.strptime(s,"%H hours")
        return dt.timedelta(hours=t.hour)
    else:
        return s;